# Racket bytecode
*.dep
*.zo

# Chez object files
*.so

# Binaries
/docgen
/linter
/spellc

# Special files
*.sock
*.fifo

# Downloaded HTML files
/sicp_html

# Editor config
.vscode

# clangd
compile_commands.json
.cache
