# Racket bytecode
*.dep
*.zo

# Chez object files
*.so

# Binaries
/bin
/lib

# Special files
*.sock
*.fifo

# Editor config
.vscode

# clangd
compile_commands.json
.cache

# Downloaded HTML files
/sicp-html
