/* Reset */

html, body, blockquote, pre, p, ul, ol, li {
    padding: 0;
    margin: 0;
}

/* Colors */

:root {
    color-scheme: light dark;
    --bg: #fafafa;
    --block: #f0f0f0;
    --active: #e8e8e8;
    --border: #ccc;
    --subdued: #888;
    --fg: #333;
    --intense: #000;
    --link: #4973c1;
    --link-subdued: #a4ccff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #202020;
        --block: #2e2e2e;
        --active: #444;
        --border: #666;
        --subdued: #888;
        --fg: #ccc;
        --intense: #eee;
        --link: #61afef;
        --link-subdued: #006ca7;
    }
}

/* General styles */

body {
    color: var(--fg);
    background: var(--bg);
    font: 20px Helvetica, Arial, sans-serif;
    line-height: 1.4;
    /* Otherwise iOS enlarges text on landscape. */
    -webkit-text-size-adjust: 100%;
}

p, ul, ol, blockquote, pre { margin-top: 1em; }
p:first-child, li ul, li ol { margin-top: 0; }

ul { margin-left: 1.05em; }
ol { margin-left: 1.45em; }
li ul, li ol { margin-left: 2em; }

h1, h2, h3 {
    font-weight: bold;
    line-height: 1.2;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }

h1 { margin: 0.77em 0; }
h2 { margin: 0.93em 0 0.835em; }
h3 { margin: 1.2em 0 0.855em; }

/* Can't put the border on h2 because .anchor adds left padding. */
h2::after {
    content: "";
    display: block;
    margin-top: 0.1667em;
    border-bottom: 1px solid var(--border);
}

h4 {
    display: inline;
    margin-right: 0.25em;
    font-size: inherit;
    font-weight: normal;
    font-style: italic;
}

aside {
    font-size: 0.8em;
    margin-top: 1.25em;
}

em, cite {
    font-style: italic;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--link);
}

/* The .link class indicates it's already styled as a link in some other way. */
a:not(.link) { border-bottom: 1px dotted var(--subdued); }
a:not(.link):hover { border-bottom: 1px solid var(--link); }

blockquote {
    background: var(--block);
    padding: 15px;
    border-left: 10px solid var(--border);
    border-radius: 6px;
}

.citation {
    color: var(--subdued);
    font-size: 0.9em;
}

code {
    background: var(--block);
    padding: 2px 5px;
    border-radius: 6px;
    /* Fits 80 columns at max-width. */
    font: 0.8em Menlo, Consolas, monospace;
}

.blockcode {
    display: block;
    overflow-x: auto;
    padding: 15px;
    /* Shave off a half pixel so that 80 chars Menlo has no scrollbar. */
    padding-right: 14.5px;
    line-height: 1.25;
}

h1 code, h2 code, h3 code, .toc__item code {
    padding: 0;
    background: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.katex {
    /* KaTeX CSS uses 1.21em, which is too big beside 1em Helvetica. */
    font-size: 1.15em;
}

.katex-display {
    position: relative;
    overflow-x: auto;
    /* Use padding to prevent vertical clipping/scrollbars, due to weird
    overflow-x/y interactions. This also controls the position of the horizontal
    scrollbar along the bottom. */
    padding: 15px 0;
    margin: -15px 0;
}

.flat {
    margin: 0;
    display: inline;
}

.flat__item {
    display: inline;
}

.nowrap {
    white-space: nowrap;
}

/* Specific styles */

.anchor {
    margin-left: -0.82em;
    padding-left: 0.82em;
}

.anchor__link {
    position: absolute;
    visibility: hidden;
    margin-left: -0.82em;
    color: var(--subdued);
}

.anchor:hover .anchor__link {
    visibility: visible;
}

.number {
    float: right;
    margin: 0 0 0.5em 0.5em;
    color: var(--subdued);
}

.number--big {
    margin-top: -0.03em;
    font-size: 2em;
    line-height: 1;
}

.highlight {
    margin-top: 1em;
}

.highlight blockquote {
    margin-top: 0;
    border-left-color: var(--link-subdued);
}

.highlight__link {
    color: var(--subdued);
    font-size: 0.9em;
}

.toc {
    display: table;
    margin: 0;
}

.toc__item {
    display: table-row;
}

.toc__label {
    display: table-cell;
    padding-right: 15px;
    color: var(--subdued);
    font-weight: bold;
    text-align: right;
}

.exercises {
    margin: -2px -4.5px 0;
    line-height: 1.6;
}

.exercises__item {
    display: inline-block;
    width: 39px;
    margin: 0 4.5px;
}

.imports {
    margin: -0.5em 0 1.25em;
}

/* Page layout */

body {
    max-width: 800px;
    margin: 0 auto;
    /* 25px is just enough for .anchor__link. */
    padding: 50px 25px;
}

.skip-link {
    position: absolute;
    top: 10px;
    left: -999px;
    width: 1px;
    height: 1px;
}

.skip-link:focus {
    left: 10px;
    width: auto;
    height: auto;
}

.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 3px solid var(--border);
}

.title {
    color: var(--intense);
    font-size: 1.5em;
}

.sitenav {
    display: flex;
}

.sitenav__item {
    padding: 6px 14px;
    color: var(--intense);
    white-space: nowrap;
}

.sitenav__item--active {
    border-radius: 6px;
    background: var(--active);
}

.sitenav__item--last {
    padding-right: 0;
}

.pagenav {
    display: flex;
    align-items: center;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.pagenav--top { border-bottom: 1px solid var(--border); }
.pagenav--bottom { border-top: 1px solid var(--border); }

.pagenav__item {
    flex: 1;
    color: var(--subdued);
    white-space: nowrap;
}

.pagenav__item--left { text-align: left; }
.pagenav__item--center { text-align: center; }
.pagenav__item--right { text-align: right; }

/* Kerning with the arrows. */
.pagenav__prev { margin-left: 0.45em; }
.pagenav__up { margin-left: 0.35em; }
.pagenav__next { margin-right: 0.3em; }

.pagenav__link {
    display: block;
    padding: 8px 0;
    color: var(--intense);
}

.pagenav__link:hover {
    color: var(--intense);
    background: var(--active);
}

.footer {
    clear: both;
    padding-top: 5px;
    border-top: 3px solid var(--border);
    font-size: 0.9em;
    text-align: center;
}

.header--lone {
    margin-bottom: 2em;
}

.pagenav--bottom, .footer--lone {
    margin-top: 2em;
}

@media screen and (max-width: 590px) {
    body {
        padding: 20px 10px;
    }
    .header {
        align-items: center;
        flex-direction: column;
    }
    .title {
        margin-bottom: 10px;
    }
    .sitenav {
        align-self: stretch;
        flex-wrap: wrap;
        padding-top: 5px;
        border-top: 3px solid var(--border);
    }
    .sitenav__item {
        flex: 1;
        text-align: center;
    }
    .sitenav__item--last {
        padding-right: 14px;
    }
    .anchor__link {
        display: none;
    }
}

@media screen and (max-width: 410px) {
    .sitenav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* SVGs */

.github-mark {
    vertical-align: -5px;
}

.external {
    width: 0.8em;
    height: 0.8em;
    padding-left: 0.22em;
    color: var(--border);
    vertical-align: -1.5px;
}

.link:hover .external {
    color: var(--link-subdued);
}

.circle-arrow {
    vertical-align: -3px;
}

.wizard {
    float: right;
    max-width: 100%;
    height: auto;
    margin: 0px -50px 2em 1em;
}

@media screen and (max-width: 915px) {
    .wizard {
        display: block;
        float: none;
        margin: -10px auto 1em;
    }
}

.wfw { fill: #fff; } /* wizard fill white */
.wfb { fill: #38302e; } /* wizard fill black */
.wsb { stroke: #38302e; } /* wizard stroke black */

@media (prefers-color-scheme: dark) {
    .wfw { fill: #38302e; }
    .wfb { fill: var(--intense); }
    .wsb { stroke: var(--intense); }
}

/* Code highlighting */

.kw { color: #a626a4; }
.fu { color: #0060d5; }
.cn { color: #307a06; }
.co, .er { color: #c0392b; }
.yl { color: #986801; } /* .yl used in language.html */

@media (prefers-color-scheme: dark) {
    .kw { color: #c678dd; }
    .fu { color: #61afef; }
    .cn { color: #98c379; }
    .co, .er { color: #e7727b; }
    .yl { color: #e5c07b; }
}

/* .op (=> ~>), .al (=$>), .er (=!>) */
.op { color: var(--subdued); }
.op, .er { font-weight: bold; }

.ss {
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.bo { font-weight: bold; } /* .bo used in language.html */
