html, body, blockquote, p, ul, ol, li {
    padding: 0;
    margin: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background: #fafafa;
    color: #333;
    font: 20px sans-serif;
    line-height: 1.4;
}

a {
    color: rgb(0, 92, 167);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p, ul, ol, blockquote, pre {
    margin-top: 1em;
}

p:first-child {
    margin-top: 0;
}

.index-link {
    /* position: absolute; */
}

.title, .subtitle, .author {
    text-align: center;
    margin: 1em 0 0;
}

.title {
    font-size: 2.5em;
    border: none;
    text-align: center;
    line-height: 1.2;
}

.author {
    margin-bottom: 2em;
}

h1, h2, h3, h4{
    /* Larger margin-top to compensate for smaller line-height. */
    margin: 1.17em 0 0 -50px;
    line-height: 1.2;
}

@media only screen and (max-width: 920px) {
    h1, h2, h3, h4 {
        margin-left: -22px;
    }
}

h1 {
    font-size: 2em;
    padding-bottom: 5px;
    border-bottom: 1px solid #888; 
}

h2 {
    font-size: 1.5em;
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa; 
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1em;
    color: #555;
}

ul ul, ol ul {
    margin-top: 0;
    padding-left: 20px;
}

ol ol, ul ol {
    margin-top: 0;
    padding-left: 28px;
}

li {
    list-style-position: outside;
    margin-top: 0.2em;
}

blockquote, code {
    border-radius: 4px;
}

blockquote {
    background: #e8f5fd;
    border: 1px solid #c5d9e6;
    padding: 15px;
}

code {
    /* Fits 80 columns at max-width. */
    font: 16px Menlo, Consolas, monospace;
    background: #f1ffee;
    border: 1px solid rgb(187, 218, 188);
    padding: 1px 2px;
}

pre code {
    display: block;
    padding: 15px;
    line-height: 1.4
}

h1 code, h2 code, h3 code, h4 code {
    background: inherit;
    border: none;
    font-size: inherit;
    font-weight: bold;
}

.math {
    /* Default size is slightly too large side-by-side with Menlo. */
    font-size: 18px;
}
